footer
  .container
    .row
      h5 Contacto
      p  Correo: contacto@delideliapp.com <br> Dirección:  Calle Agua Azúl, entre Blvd. Universidad y Jurica La Campana #123-21, Col. Juriquilla, Querétaro, Qro
    .row
        .left
          a.white-text Aviso de Privacidad
        .right
          a(href="https://www.facebook.com/DeliDeliApp/" target="_blank")
            i.fa.fa-facebook.social
          a: i.fa.fa-twitter.social
